@import '../bower_components/brainless/less/brainless.less';
@import '../bower_components/colors/less/_variables.less';

@import '../bower_components/font-awesome/less/font-awesome.less';
@import 'flex.less';

@serif: 'Vollkorn', serif;
@sans: 'Lato', sans-serif;

// scaffolding
// ---------------------------
*,*:before,*:after{
  box-sizing: border-box;
}

html,body,main{
  height: 100%;
}

section{
  min-height: 100%;
}

a{
  text-decoration: none;
  color: @blue;
  &.button{
    color: @white;
    background-color: @navy;
    padding: 12px 8px;
    min-width: 120px;
    text-align: center;
    display: inline-block;
    &:hover{
      background-color: @blue;
    }
  }
}

body{
  margin: 0;
  font-family: @sans;
  color: #122;
}

section{
  padding: 40px;
  position: relative;
  > div{
    width: 60%;
    margin: 0 auto;
  }
  aside{
    margin-left: -20%;
  }
  iframe{
    width: 100%;
    min-height: 490px;
  }
}

h1,h2,p,ul{
  text-rendering: optimizeLegibility;
}

h1{
  font-family: @sans;
  text-rendering: optimizeLegibility;
  font-size: 5em;
  font-weight: 900;
  span{
    font-size: 0.5em;
  }
}

h2{
  font-family: @sans;
  font-size: 3em;
}

h3{
  font-size: 1.5em;
  background-color: @silver;
  display: inline-block;
}

h4{
  span{
    float:right;
    margin-right: 341px;
  }
}

p,ul{
  font: normal 1.5em/1.4375em @serif;
  &.lead{
    font: 2em/1.4375em @serif;
  }
}

ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
}

section:nth-child(2){
  //border-top: 40px solid @maroon;
}

section.lead{
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  h1{
    position: absolute;
    #center > .x();
    bottom: 50px;
  }
}

pre{
  background-color: #1d1f21;
  padding: 10px;
  border-left: 10px solid #000;
}

div.container{
  position: relative;
}

div.hbox{
  margin: 0;
  width: 100%;
  #util > .clearfix();
  #util > .hBox(40px);
}

div.flex{
  #flex > .container();
  #flex > .justify("left");
  #flex > .align('stretch');
  > *{
    //#flex > .basis(25%);
  }
}

div.demo{
  #box > .padding(10px);
  font-size: 2em;
    font-weight: 900;
    #box > .size(200px,125px);
    border: 10px solid @yellow;
    cursor: pointer;
}

// intro
// ---------------------------
#intro{
  background-image: url('../img/animation-for-the-web.gif');
}

// setup
// ---------------------------
#setup section.lead{
  background-image: url('../img/getting-setup.gif');
  color: #fff;
}

#setup section{
  min-height: 75%;
}

#setup section.end{
  min-height: 100%;
  color: @white;
  background-color: @maroon;
}

#transitions{
  background-color: @yellow;
  color: #fff;
}

.transitions{
  .demo{
    #transition > .property(all);
    #transition > .duration(2s);    
    &:hover,&.hover{
      background-color: @yellow;
      color: #fff;
    }
    &.plain{
      #reset > ._(transition);
      span{
        #text > .line-through();
      }
    }
  }
}


.timing{
  margin: 0;
  width: 100%;
  a.button{
    margin: 16px 0px;
  }
  .demo{
    #transition > .property(all);
    #transition > .duration(1.5s);
    font-size: 1em;
    &:hover,&.hover{
      #transform > .scale(0.25,0.25);
    }
    &.ease{
      #transition > .easing(ease);
    }
    &.ease-in{
      #transition > .easing(ease-in);
    }
    &.ease-out{
      #transition > .easing(ease-out);
    }
    &.ease-in-out{
      #transition > .easing(ease-in-out);
    }
    &.linear{
      #transition > .easing(linear);
    }
    &.steps{
      //#transition > .steps(6,end);
      -webkit-transition-timing-function: steps(4,end);
      transition-timing-function: steps(4, end);
    }
    &.step-end{
      #transition > .easing(step-end);
    }
    &.step-start{
      #transition > .easing(step-start);
    }
  }    
}


// transition generator
// ---------------------------
.generator{
  h1{ margin-top: 25px; }
}
.generator section > div{
  min-height: 500px;
  position: relative;
  #util > .clearfix();
}
.controls{
  margin-top:20px;
  margin-bottom: 20px;
  #box > .padding(20px,0px);
  border-top: 10px solid @yellow;
  > *{
    min-height: 28px;
    display: inline-block;
  }
  .button{
    margin: 24px 0px;
  }
}

#demo{
  position: absolute;
  left: 0px;
}
